<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=postHead%></title>
    <%- include("partials/header"); -%>
  </head>
  <body>
    <h1><%=postHead%></h1>
    <p><%=postContent%></p>
  </body>
  <footer>
    <%- include("partials/footer"); -%>
  </footer>
</html>
